body {
    background-color: var(--background-color);
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    display: block
}

header {
    background-color: var(--main-color);
    height: 170px;
    text-align: center;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 2;
}

contentbox {
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 20px;
}

h1 {
    color: var(--secondary-color);
    font-size: 42px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
}

h2 {
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 20px;
}

h3 {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 20px;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

.socials {
  margin: -15px auto 0px auto;
}

navbar {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 15px;
    width: 100%;
    margin: 6px auto 0px auto;
}

navbar ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0px auto 0px auto;
}

navbar li {
    list-style-type: none;
    padding: 0 20px;
}

navbar a {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0;
    text-decoration: none;
}

navbar a:hover {
    color: var(--secondary-color);
}

hr {
    border: 0;
    height: 2px;
    background: var(--main-color);
    width: 120px;
}

button {
    font-family: inherit;
    background-color: var(--main-color);
    color: var(--background-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}

path {
  fill: white;
}

button.navbar-toggle {
  display: none;
}

.video-container iframe {
  width: 600px;
  height: 340px;
  margin: 0px auto 20px auto;
  border-radius: 15px;
}

footer {
  position: relative;
  bottom: 0px;
  left: 0;
  height: 40px;
  background-color: var(--main-color);
  padding: 0;
  text-align: center;
  margin-top: 15px;
}

footer p {
  font-family: inherit;
  font-size: 18px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding-top: 3px;
  line-height: 35px;
}

.games {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  margin-left: 25px;
}


.game {
  width: 276px;
  height: 276px;
  border-radius: 25px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 276px;
}

.game img {
  width: 276px;
  height: 276px;
  border-radius: 15px;
}

.highlighted-game {
  display: block;
  text-align: center;
  padding: 0;
  width: 96%;
  margin: 10px auto;
}

.highlighted-game .game {
  width: 100%;
  height: 276px;
  border-radius: 25px;
  margin: 15px auto;
}

.prelooped-header {
  display: flex;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgb(251, 251, 251)), url("/assets/images/prelooped/background_normal.png") no-repeat fixed;
  padding-bottom: 80px;
  margin-bottom: -150px;
  background-size: cover;
  background-position: top;
}


.albums {
  background-image: url('/assets/images/prelooped/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.albums svg {
  width: 100%;
  height: auto;
  max-height: 100px;
}

.albums path {
  fill: var(--background-color);
}

.albums .grid {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  max-width: 1000px;
}

.album {
  margin: 10px;
  margin-bottom: 0px;
  padding: 0;
  width: 180px;
}

.album p {
  color: var(--background-color);
  margin-top: 8px;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.album img {
  transition: linear 0.1s all;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.558);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.558);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.558);
}

.album:hover {
  /*fade in filter*/
  filter: brightness(108%) contrast(95%);
  transform: scale(1.02);
  transition: linear 0.1s all;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.search-box input {
  width: 370px;
  height: 45px;
  border: 2px solid var(--main-color);
  border-radius: 25px;
  padding: 0 20px;
  font-size: 18px;
  margin-left: -5px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.search-box input:focus {
  outline: var(--secondary-color) auto 2px;
}

::placeholder {
  color: var(--main-color);
}

.sort-box label {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.sort-box select {
  width: 220px;
  height: 45px;
  border: 2px solid var(--main-color);
  border-radius: 25px;
  padding: 0 20px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--main-color);
}

.sort-box select:focus {
  outline: var(--secondary-color) auto 2px;
}

.list-helpers {
  display:flex;
  justify-content: space-between;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  contentbox {
    width: 95%;
  }
  .albums .grid {
    grid-template-columns: repeat(3,1fr);
  }
}

@media screen and (max-width: 700px) {
  navbar {
    width: 100%;
    padding: 0;
    margin: 0px auto 0px auto;
    top: 0px;
    transition: top 0.4s ease-in-out;
  }

  navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    width: 100%;
    margin: 0px auto 0px auto;
  }

  navbar li {
    display: grid;
    padding: 5px;
    width: 100%;
  }

  navbar li:hover
  {
    background-color: var(--secondary-background-color);
  }

  navbar a {
    font-size: 24px;
    padding: 3px 0;
  }

  p {
    font-size: 22px;
  }

  header {
    height: 100px;
    padding: 0;
    z-index: 1;
  }

  header img {
    width: 90px;
    height: 90px;
    margin: 0 auto;
  }

  contentbox {
    padding-top: 150px;
  }

  .socials {
    margin: -10px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  button {
    font-size: 22px;
    line-height: 1.5;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 100%;
  }

  .prelooped-header {
    padding-top: 100px;
    margin-bottom: -250px;
  }
  
  .video-container iframe {
    width: 80%;
    height: 180px;
    position: relative;
  }

  .games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    margin-left: 0;
  }

  .game {
    width: 96%;
    height: 276px;
    border-radius: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 20px;
  }
  
  .game img {
    width: 276px;
    height: 276px;
    border-radius: 15px;
  }

  .highlighted-game {
    display: block;
    text-align: center;
    padding: 0;
    width: 96%;
    padding: 0;
    margin: 0 auto;
    margin-left: 0;
  }
  
  .highlighted-game .game {
    width: 100%;
    height: 276px;
    border-radius: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 20px;
  }

  .albums .grid {
    grid-template-columns: repeat(2,1fr);
  }

  .search-box input {
    width: 90%;
  }

  .list-helpers {
    display: flex;
    flex-direction: column;
  }
}

/* Global Variables */
:root {
  --main-color: #3BAFF7;
  --secondary-color: #2B8DCD;
  --background-color: #fbfbfb;
  --secondary-background-color: #d9d9d9;
}